import(stats)
import(utils)
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "par", "plot", "points")
import(truncnorm)
import(gtools)
import(ggplot2)
import(splines2)
import(KernSmooth)
import(mnormt)
import(MASS)
export(comire.gibbs)
export(post.pred.check)
export(add.risk)
export(BMD)
export(riskplot)
export(bmd.plot)
export(fit.pdf.mcmc)