import(stats)
import(utils)
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "par", "plot", "points")
import(truncnorm)
import(gtools)
export(comire.gibbs)
export(mix.gibbs)
export(ddp.gibbs)
export(post.pred.check)
export(add.risk)
export(BMD)
export(riskplot)
export(bmd.plot)
export(fit.cdf.mcmc)